<div class="purCard">
    <label class="purHead" for="">{{UserInfo.result=='admin'?'新增单':'未下单'}}</label>
    <div class="cardBorder">
        <table class="table table-hover">
            <thead>
                <tr>
                    <!-- <th>商品号</th> -->
                    <th>名称</th>
                    <th>数量</th>
                    <th>时间</th>
                    <th>状态</th>
                    <th>客户</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of unfinishList" (click)="goPoductInfo(item)">
                    <!-- <td>{{item.idList}}</td> -->
                    <td>{{item.productName}}</td>
                    <td>{{item.number}}</td>
                    <td>{{item.startDate}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.customer}}</td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary btn-sm card-Submit" (click)="PurSubmit()">确认下单</button>
    </div>
</div>


<div class="purCard ">
    <label class="purHead" for="">历史记录</label>
    <div class="cardBorder">
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th>单号</th>
                    <th>名称</th>
                    <th>数量</th>
                    <th>时间</th>
                    <th>状态</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of finishedList" (click)="goPurInfo(item)">
                    <td>{{item.taskId}}</td>
                    <td>{{item.productName}}</td>
                    <td>{{item.number}}</td>
                    <td>{{item.startDate}}</td>
                    <td>{{item.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>