.purCard{
    width: 96%;
    margin: 20px auto 50px auto;
    border-top: none;
    /* background-image: linear-gradient(to bottom right, red, yellow); */

}
.purHead{
    padding:8px 12px ;
    font-weight: bold;
    width: 68%;
    color: rgb(255, 255, 255);
    /* background-color: rgb(61, 177, 177); */
    background-image: linear-gradient(to bottom right, rgb(61, 177, 177) ,rgb(242, 248, 248)  );

    border-top-left-radius: 10px;
    border-top-right-radius: 50px;
    border: 2px solid rgb(61, 177, 177);
    border-bottom: none;

}

.cardBorder{
    border: 2px solid rgb(61, 177, 177);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-image: linear-gradient(to bottom right,rgb(242, 248, 248) ,   rgb(61, 177, 177));

}

.card-Submit{
    float: right;
    margin-right: -2px;
    margin-top: -15px;
}